---
extension: xml
layout: nil
index: false
dirty: true
filter:
- haml
---
!!! XML
%urlset{ :xmlns => 'http://www.sitemaps.org/schemas/sitemap/0.9'}
  - @pages.find(:in_directory => "/", :recursive => true) do |p|
    - next if p.nil? || p.extension != 'html' || p.url =~ /drafts\// 
    %url
      %loc== #{SITE.site_root}#{p.url}
      %lastmod= p.mtime.xmlschema 
      - if p['changefreq']           || SITE.changefreq
        %changefreq= p['changefreq'] || SITE.changefreq
      - if p['priority']             || SITE.priority
        %priority= p['priority']     || SITE.priority
